@mixin font-size($fsz,$fw,$lh,$color,$lsp){
  font-size: $fsz;
  font-weight: $fw;
  line-height: $lh;
  color: $color;
  letter-spacing: $lsp;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
.container{
  margin: 0 auto;
  padding: 0 30px;
}
.header__bg{
  background-image: url("images/header__bg.png");
  background-position:top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  position: relative;
}
.header__logo{
  display: flex;
  justify-content: center;
  @include font-size(40px,500,59px,#fff,0.2em);
  font-family:Oswald, sans-serif;
  padding-top: 38px;
  position: relative;
}
.span{
  transform: rotate(-180deg);
  letter-spacing: 0;
  margin-top: 2px;
}
.header__logo-subtitle{
  @include font-size(10px,400,12px,#fff,0.17em);
  font-family: Montserrat,sans-serif;
  position: absolute;
  bottom: 35px;
}
.header__title{
  display: flex;
  justify-content: center;
  font-family: Rouge Script,sans-serif;
  @include font-size(160px,bold,188px,#fff,0.02em);
  margin-top: 20px;
  position: relative;
}
.header__subtitle{
  @include font-size(25px,300,40px,#fff,0.01em);
  font-family:Oswald, sans-serif;
  position: absolute;
  bottom: 0;
}
.header__form{
  display: flex;
  justify-content: center;
  padding-top: 42px;
}
.header__btn{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.header__btn-text{
  @include font-size(18px,bold,27px,#fff,0.05em);
  font-family:Oswald, sans-serif;
}
.header__contact{
  display: flex;
  justify-content: center;
  @include font-size(18px,500,21px,#fff,0);
  font-family: Roboto,sans-serif;
  padding-top: 83px;
}
.header__text+.header__text{
  margin-left:110px;
}
.header__text{
  padding-left: 30px;
  position: relative;
}
.location::before{
  content: '';
  width: 13px;
  height: 17px;
  background-image: url("images/location.svg");
  position: absolute;
  left: 0;
}
.phone::before{
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("images/phone.svg");
  position: absolute;
  left: 0;
}
.time::before{
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("images/time.svg");
  position: absolute;
  left: 0;
}
.header__list{
  padding-top: 185px;
  padding-left: 30px;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo__bg{
  position: absolute;
  bottom: -45px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.logo__img{
  background-image: url("images/scroll.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 36px;
  position: absolute;
  top: 26px;
  left: 30px;
}
.header__social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -120px;
}
.header__social-img+.header__social-img{
  padding-top: 40px;
}
.hamburger {
  display: inline-block;
  background-color: transparent;
  border: none;
}

#mobile-menu-wrapper {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 270px;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  padding-top: 50px;
}
#mobile-menu-wrapper.opened {
  transform: translateX(0) ;
}

.close-mobile-menu {
  position: absolute;
  left: 35px;
  top: 55px;
  z-index: 20;
  padding: 0;
  border: none;
  background-color: transparent;
}
.close-mobile-menu svg {
  width: 20px;
  height: 20px;
}

  #site-header {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: 200;
    margin-left: 15px;
    margin-top: 35px;
    background: none;
    height: 50px;
    opacity: 1;
  }
  
  #mobile-menu-wrapper {
    display: block;
  }
  .mobile-menu .menu {
    padding-left:65px;
    margin-top: 75px;
  }

  .mobile-menu .header__menu,
  .mobile-menu li span {
    @include font-size(22px,400,33px,#fff,0.05em);
    font-family:Oswald, sans-serif;
    text-align: left;
    display: block;
    text-decoration: none;
    padding-top: 25px;
  }

.about-us{
  position: relative;
}
.about-us__inner{
  margin-top: 145px;
  width: 860px;
  padding-right:5px;
  margin-left: 70px;
}
.title{
  @include font-size(40px,500,59px,#000,0);
  font-family:Oswald, sans-serif;
  display: flex;
}
.title::before{
  content: ' ';
  width: 65px;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin-top: 30px;
  margin-right: 20px;
}
.title::after{
  content: ' ';
  width: 65px;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
}
.about-us__title{
  margin-left: 355px;
  margin-bottom: 40px;
}
.about-us__list{
  @include font-size(18px,normal,27px,#000,0);
  font-family: Roboto,sans-serif;
}
.about-us__item+.about-us__item{
  padding-top: 25px;
}
.text-1{
  padding-right: 130px;
}
.text-2{
  padding-right: 40px;
}
.about-us__img{
  position: absolute;
  right: 100px;
  top: 15px;
  margin: 0 auto;
}
.about-us img{
  margin-bottom: 100px;
}
.slick-btn{
  border: none;
  background-color: #fff;
  margin-bottom: 13px;
}
.slick-prev{
  position: relative;
  left: 45px;
}
.slick-next{
  position: absolute;
  right: 45px;
  top: 0;
}
.about-us__inner{
  margin-bottom: 175px;
}
.our-team__title{
  justify-content: center;
  margin-bottom: 30px;
}

.our-team__name{
  padding-top: 20px;
  padding-left: 115px;
  @include font-size(22px,500,33px,#000,0);
  font-family: Oswald,sans-serif;
}
.our-team__position{
  padding-top: 10px;
  padding-left: 122px;
  @include font-size(16px,300,19px,#000,0);
  font-family: Roboto,sans-serif;
}
.top-position{
  padding-left: 100px;
}
.our-team__btn>span{
  @include font-size(18px,400,27px,#7B6515,0.03em);
  font-family: Oswald,sans-serif;
  text-decoration: underline;
}
.our-team__btn{
  border: none;
  background-color: white;
  margin: 15px 0 107px 97px;

}
.gallery__title{
  justify-content: center;
  margin-bottom: 50px;
}
.gallery__slider .slick-track{
  margin-left: 75px;
}
.gallery__slider .slick-btn{
  margin-bottom: 40px;
}
.gallery__position{
  position: relative;
}

.barber{
  position: absolute;
  bottom: -35px;
  left: 122px;
}
.gallery__name{
  margin: 0 0 130px 123px;
  padding-top: 32px;
  @include font-size(16px,500,24px,#000,0);
  font-family: Oswald,sans-serif;
}
.name{
  margin-left: 131px;
}
