*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

.header__bg {
  background-image: url("images/header__bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  position: relative;
}

.header__logo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 59px;
  color: #fff;
  letter-spacing: 0.2em;
  font-family: Oswald, sans-serif;
  padding-top: 38px;
  position: relative;
}

.span {
  transform: rotate(-180deg);
  letter-spacing: 0;
  margin-top: 2px;
}

.header__logo-subtitle {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #fff;
  letter-spacing: 0.17em;
  font-family: Montserrat, sans-serif;
  position: absolute;
  bottom: 35px;
}

.header__title {
  display: flex;
  justify-content: center;
  font-family: Rouge Script, sans-serif;
  font-size: 160px;
  font-weight: bold;
  line-height: 188px;
  color: #fff;
  letter-spacing: 0.02em;
  margin-top: 20px;
  position: relative;
}

.header__subtitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  letter-spacing: 0.01em;
  font-family: Oswald, sans-serif;
  position: absolute;
  bottom: 0;
}

.header__form {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.header__btn {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}

.header__btn-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  color: #fff;
  letter-spacing: 0.05em;
  font-family: Oswald, sans-serif;
}

.header__contact {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  letter-spacing: 0;
  font-family: Roboto, sans-serif;
  padding-top: 83px;
}

.header__text + .header__text {
  margin-left: 110px;
}

.header__text {
  padding-left: 30px;
  position: relative;
}

.location::before {
  content: "";
  width: 13px;
  height: 17px;
  background-image: url("images/location.svg");
  position: absolute;
  left: 0;
}

.phone::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("images/phone.svg");
  position: absolute;
  left: 0;
}

.time::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("images/time.svg");
  position: absolute;
  left: 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__bg {
  position: absolute;
  bottom: -45px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.logo__img {
  background-image: url("images/scroll.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 36px;
  position: absolute;
  top: 26px;
  left: 30px;
}

.header__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -120px;
}

.header__social-img + .header__social-img {
  padding-top: 40px;
}

.hamburger {
  display: inline-block;
  background-color: transparent;
  border: none;
}

#mobile-menu-wrapper {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 270px;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  padding-top: 50px;
}

#mobile-menu-wrapper.opened {
  transform: translateX(0);
}

.close-mobile-menu {
  position: absolute;
  left: 35px;
  top: 55px;
  z-index: 20;
  padding: 0;
  border: none;
  background-color: transparent;
}

.close-mobile-menu svg {
  width: 20px;
  height: 20px;
}

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 200;
  margin-left: 15px;
  margin-top: 35px;
  background: none;
  height: 50px;
  opacity: 1;
}

#mobile-menu-wrapper {
  display: block;
}

.mobile-menu .menu {
  padding-left: 65px;
  margin-top: 75px;
}

.mobile-menu .header__menu,
.mobile-menu li span {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
  letter-spacing: 0.05em;
  font-family: Oswald, sans-serif;
  text-align: left;
  display: block;
  text-decoration: none;
  padding-top: 25px;
}

.about-us {
  position: relative;
}

.about-us__inner {
  margin-top: 145px;
  width: 860px;
  padding-right: 5px;
  margin-left: 70px;
}

.about-us__title {
  margin-left: 355px;
  margin-bottom: 40px;
}

.header__list {
  margin-top: 123px;
  padding-left: 30px;
}

.about-us__item + .about-us__item {
  padding-top: 25px;
}

.about-us__img {
  position: absolute;
  right: 100px;
  top: 15px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
